<li class="nav-item {% if active == 'example_one' %} active {% endif %}">
    <a href="{% url 'example_one' %}" class="nav-link">Example 1</a>
</li>
<li class="nav-item {% if active == 'example_two' %} active {% endif %}">
    <a href="{% url 'example_two' %}" class="nav-link">Example 2</a>
</li>
<li class="nav-item {% if active == 'example_three' %} active {% endif %}">
    <a href="{% url 'example_three' %}" class="nav-link">Example 3</a>
</li>
<li class="nav-item {% if active == 'example_four' %} active {% endif %}">
    <a href="{% url 'example_four' %}" class="nav-link">Example 4</a>
</li>